<%- include("partials/header"); -%>

	 <div class="container">
		 <div class="row">
			 <div class="col-md-5 m-auto">
				 <h2 class="new-margin">Create a new blog</h2>
				 <form action="/blogs" method="post">
					 <div class="form-group">
						 <input class="form-control form-control-lg" type="text" name="image" placeholder="Image url">
					  </div>
					  <div class="form-group">
						 <input class="form-control form-control-lg" type="text" name="title" placeholder="Name">
					  </div>
					  <div class="form-group">
						 <input class="form-control form-control-lg" type="text" name="body" placeholder="Description">
					  </div>
						 <input class="form-control form-control-lg" type="submit" value="Submit">
				 </form>
			 </div>
		 </div>
	</div>

<%- include("partials/footer"); -%>
